@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,700&family=Work+Sans:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /* font-family: 'Work Sans', sans-serif; */
  color: aliceblue;
}

.home-img1 {
  /* background-image: url("https://i.pinimg.com/564x/39/28/a9/3928a92299dd83aec8cdb4a4a075509f.jpg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 103% 2%; */

  background-image: url("https://i.pinimg.com/564x/39/28/a9/3928a92299dd83aec8cdb4a4a075509f.jpg"),url("https://i.pinimg.com/564x/4c/f4/ac/4cf4ac317e6765460bab74fef60cb449.jpg");
  background-repeat: no-repeat,no-repeat;
  background-size: 500px,470px;
  background-position: 103% 2%,0% 2%;
}

.home-img1 {
  /* background-image: url("https://i.pinimg.com/564x/4c/f4/ac/4cf4ac317e6765460bab74fef60cb449.jpg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 103% 2%; */
}

.home-center {
  /* background-color: blueviolet; */
  height: 42vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 110px; /*150*/
}

.home-center h3::after {
  content: "\a";
  white-space: pre;
}

.home-center h3 {
  /* background-color: blue; */
  letter-spacing: 3px;
  font-weight: 900;
  text-align: center;
  /* margin-right: 100px; */
}

.home-center h1 {
  /* background-color: red; */
  margin: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

.home-img2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}
