@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,700&family=Work+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Work+Sans:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /* font-family: 'Work Sans', sans-serif; */
  color: aliceblue;
}

.details-main {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}

.details-temp {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

.details-form {
  /* background-color: violet; */
  width: 100%;
  height: 25rem;
  margin-top: 75px;
}

.details-form form {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.details-form form button {
  background-color: #e40814;
  color: #010001;
  width: 250px;
  height: 45px;
  font-size: 1.2rem;
  border-style: solid;
  border-color: #010001;
  border-radius: 12px;
  font-weight: bolder;
}

.details-form form div {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  align-items: center;
}

.details-form form div label {
  font-size: 40px;
}

.details-form form div input {
  width: 75%;
  height: 4vh;
  border-radius: 8px;
  color: black;
  border-style: solid;
  border-color: #010001;
}

.details-output {
  width: 100%;
}

.output {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-img {
  width: 508px;
  height: 906px;
}
