@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,700&family=Work+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Work+Sans:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /* font-family: 'Work Sans', sans-serif; */
  color: aliceblue;
}

.registration-main{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.registration-comp-head{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.registration-comp{
    /* background-color: red; */
    width:29.688rem; 
    height: 10.063rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1.8rem;
    box-sizing: border-box;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
}

.registration-comp-sub {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1rem ;
}

.registration-user{
    width: max-content;
    height: max-content;
    box-sizing: border-box;
    border: 1px solid aliceblue;
    border-radius: 10px;
}

.registration-user form{
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 200px;
    padding-right: 200px;
}

.registration-user form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    /* background-color: aqua  ; */
}

.registration-user form button{
    background-color: #e40814;
  color: #010001;
  width: 250px;
  height: 45px;
  font-size: 1.2rem;
  border-style: solid;
  border-color: #010001;
  border-radius: 12px;
  font-weight: bolder;
}

.registration-user form div label {
    font-size: 40px;
  }
  
.registration-user form div input{
    width: 75%;
  height: 4vh;
  border-radius: 8px;
  color: black;
  border-style: solid;
  border-color: #010001;
}

.registration-user form button:hover{
   cursor: pointer;
}